/*reset css*/

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/*end reset css*/

.topicCard {
    margin-top: 16px;
}

.topicCard .ant-card-head-title {
    padding: 10px 0;
}

.topicCard .ant-card-head-title p {
    margin: 5px 0 0 0;
}

.topicCard img {
    max-width: 100%;
}

.topicCard .detail {
    font-size: 15px;
    color: #838383;
}

.topicCard .detail span::before {
    content: "•";
}

#repliesList .ant-list-item {
    padding: 0;
}